user {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_error_log }};
pid {{ nginx_pid }};

# Load dynamic modules. See /usr/share/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;


events {
    worker_connections 1024;
}

http {
    ###################
    # Default Settings
    ###################
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  {{ nginx_access_log }}  main;

    sendfile            on;
    tcp_nopush          on;
    tcp_nodelay         on;
    keepalive_timeout   65;
    types_hash_max_size 2048;
    
    ssl_prefer_server_ciphers on;
	ssl_session_cache shared:SSL:2m;

    include             /etc/nginx/mime.types;
    default_type        application/octet-stream;


{% if nginc_geoip %}
    ###################
    #   Geo IP Maps
    ###################

    geoip2 {{ nginx_geoip_mmdb }} {
        auto_reload 60m;
        $geoip2_metadata_country_build metadata build_epoch;
        $geoip2_data_country_code country iso_code;
    }

    {% for geomap in nginx_geoip_maps %}
        {%- if geomap.type == "allow" -%}

    map $geoip2_data_country_code ${{ geomap.name }} {
        default no;

            {%- for country in geomap.countries -%}
        {{ country }} yes;
            {% endfor %}
    }
        {% else %}

    map $geoip2_data_country_code $geoipmap_{{ geomap.name }} {
        default yes;

            {%- for country in geomap.countries -%}
        {{ country }} no;
            {% endfor %}
    }
        {% endif %}
    {% endfor %}

    geo $lan {
        default no;

    {% for item in nginx_geoip_allow %}
        {{ item }} yes;
    {% endfor %}
    }
{% endif %}


{%- if nginx_global_http_redirect -%}
    ###################
    # Default redirect
    ###################

    server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name _;
        return 301 https://$host$request_uri;
    }
{% endif %}


    ###################
    # vHost Configs
    ###################
    include {{ nginx_config_dir }}/*.conf;

}

